parameters:
    level: 5
    paths:
        - models
        - api
        - helpers
    excludePaths:
        - vendor
        - tests
    bootstrapFiles:
        - helpers/Database.php
        - helpers/Response.php
