spring:
  application:
    name: clonejira

  security:
      oauth2:
        client:
          registration:
            google:
              client-id: "838025556290-csiqqqd721dhpupsv5pnf0aro07sfv6e.apps.googleusercontent.com"
              client-secret: "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"
              scope:
                - email
                - profile
  
  docker:
    compose:
      enabled: false

  # --- Cấu hình Database (JPA & MySQL) ---
  datasource:
    url: jdbc:mysql://ballast.proxy.rlwy.net:26781/railway
    username: root
    password: "QznRsDBFrPpRsjQsVRNYdAGeNsdATliC" # Nên để password trong ngoặc kép nếu có ký tự đặc biệt
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  jackson:
      mapper:
        accept-case-insensitive-enums: true

jwt:
  jwtSecret: "5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437"
  jwtExpiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    # Các config giúp Swagger hoạt động tốt hơn sau proxy
    config-url: /v3/api-docs/swagger-config
    disable-swagger-default-url: true

server:
  forward-headers-strategy: framework
  port: 8081