spring:
  application:
    name: clonejira
  
  docker:
    compose:
      enabled: false

  # --- Cấu hình Database (JPA & MySQL) ---
  datasource:
    url: jdbc:mysql://interchange.proxy.rlwy.net:23604/railway
    username: root
    password: "iXXMcgLnoazRijbSoSAaSOhcUxkqiHyL" # Nên để password trong ngoặc kép nếu có ký tự đặc biệt
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

# springdoc is not a standard property under spring. Move to top-level if needed by SpringDoc
#springdoc:
#  swagger-ui:
#    path: /swagger-ui.html

  jackson:
      mapper:
        accept-case-insensitive-enums: true

# cloud is not a standard property under spring. Move to top-level if needed by Spring Cloud Gateway
#cloud:
  # gateway:
  #   routes:
  #     - id: spring-backend
  #       uri: http://localhost:8080 # Đổi thành port/ip thật của service Spring đích
  #       predicates:
  #         - Host=**:8080
  #     # Route 2: Chuyển hướng đến Service PHP
  #     - id: php-service
  #       uri: http://localhost:8081 # Đổi thành port/ip thật của service PHP
  #       predicates:
  #         - Host=**:8081
  #       filters:
  #         - StripPrefix=1 # Bỏ /api/v1/php trước khi gọi xuống PHP
server:
  port: 8081